@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('/css/mediaquery.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(142, 184, 252, 0.177);
  height: 100vh;
  width: 100vw;
  font-family: 'Coming Soon', cursive;
}
.nav-fixed{
  position: fixed;
  width: 100vw;
  background-color: #EBF2FE;
}
.nav-bar{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar div{
  width: 33%;
  font-size: 15px;
}
.nav-bar div:nth-of-type(2){
  display: flex;
  justify-content: center;
}
.nav-bar div:nth-of-type(3){
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar i{
  margin-left: 5px;
}
/* friends-nav */
.friends-nav{
  display: flex;
  justify-content: space-between;
  margin: 25px 20px;
  color: rgb(0, 44, 114);
}
.friends-nav div:first-child{
  font-weight: 700;
  font-size: 25px;
}
.friends-nav div:nth-of-type(2) i{
  margin-left: 17px;
  font-size: 20px;
}
/* 메인 채팅 콘텐츠 위치 조정 */
.main-content-position{
  padding-top: 120px;
  overflow-y: scroll;
  height: 110vh;
}
/* qr */
.qr{
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qr div{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 44, 114);
  font-weight: 600;
}
.qr div i{
  font-size: x-large;
  padding-bottom: 20px;
}
/* recommended friends */
.recommended-friends{
  width: 96%;
  height: 20em;
  color: rgb(0, 44, 114);
  margin: 0 10px;
  padding: 10px;
  border-top: 1px solid rgba(142, 184, 252, 0.397);
  border-bottom: 1px solid rgba(142, 184, 252, 0.397);
}
.recommended-friends p:first-child{
  font-size: 14px;
}
.recommended-friends p:nth-of-type(2){
  padding: 7em;
}
/* open chat */
.open-chat{
  margin: 15px 20px;
  font-size: 14px;
}
.open-chat-text{
  display: flex;
  justify-content: space-between;
  color: rgb(0, 44, 114);
}
.open-chat-box{
  margin-top: 20px;
}
.open-chat-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(142, 184, 252, 0.397);
}
.open-chat-box img{
  width: 5em;
  height: 5em;
  border-radius: 7px;
}
.open-chat-list-text p:first-child{
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.open-chat-list-text p{
  padding-bottom: 2px;
  font-size: 14px;
  color: rgb(150, 150, 150);
}
.open-chat-list-text p span{
  font-size: 14px;
  color: rgba(255, 0, 0, 0.785);
}
/* 하단 상태바  */
.foot-nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  bottom: 0;
  background-color: #ebf2fe;
  padding: 20px 40px;
  color: rgb(0, 44, 114);
  font-size: large;
}
.foot-nav div:nth-of-type(2){
  width: 5px;
  height: 5px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  right: 35px;
  top: 15px;
}
.foot-nav div:first-child{
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 14em;
  top: 14px;
  animation: bounce 1s ease-in-out infinite;
}
@keyframes bounce{
  50%{
    top: 10px;
  }
}
a:link{
  color: rgb(0, 44, 114);
}
a:visited{
  color: rgb(0, 44, 114);
}